<!DOCTYPE html>
<html>
    <head>
        <title>Galactic Industry Architect</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- Add Bootstrap or other CSS frameworks if needed -->
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/dark-mode.js' %}"></script>
    </head>
    <body>
        <nav class="top-nav">
            
            
            <button id="theme-toggle" onclick="myFunction()">Toggle Light/Dark Mode</button>
            <button id="login-btn">Login with EVE Online</button>
            <img id="character-portrait" src="#" alt="Character Portrait" style="display: none;">
        </nav>

        <div class="main-content">
        <!-- Main content goes here -->

        </div>

        <script>
            // JavaScript for toggling themes and handling login
        </script>
    </body>
</html>
